<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Замена "ё" на "е".</title>
</head>
<body>
    <h1>Замена "ё" на "е".</h1>
    <form method="post">
        {% csrf_token %}
        <textarea name="text" rows="10" cols="50"></textarea>
        <br>
        <input type="submit" value="Заменить">
    </form>
    {% if new_text %}
        <p>Измененный текст: {{ new_text }}</p>
    {% endif %}
</body>
</html>
